.root{

	-fx-font-size:12.0px;

	-fx-color-base-bg:#343434;
	-fx-cloor-base-fg:#FFFFFF;

	-fx-color-tf-bg:#000b00;
	-fx-cloor-tf-fg:#FFFFFF;
	-fx-color-tf-dark:#0d0015;
	-fx-cloor-tf-right:#595455;

	-fx-color-tf-edit-bg:#0f2350;
	-fx-color-tf-edit-fg:#FFFFFF;
	-fx-color-tf-edit-dark:#17184b;
	-fx-color-tf-edit-right:#165e83;

	-fx-color-bt-bg:#000b00;
	-fx-color-bt-fg:#FFFFFF;
	-fx-color-bt-dark:#0d0015;
	-fx-color-bt-right:#595455;

	-fx-color-table-bg:#272727;
	-fx-color-table-fg:#eaeaea;
	-fx-color-table-dark:#070707;
	-fx-color-table-right:#828282;

	-fx-color-error-bg:#fff352;
	-fx-color-error-fg:#ff0000;
	-fx-color-error-dark:#333110;
	-fx-color-error-right:#fffccc ;


	-fx-background-color:-fx-color-base-bg;
}

.text{
	-fx-fill:-fx-cloor-base-fg;
}

.content,
.viewport,
.tab-pane,
.tab{
	-fx-background-color:-fx-color-base-bg;
}

.utl-text-field,
.utl-label{
	-fx-background-color:-fx-color-tf-bg;
	-fx-text-fill:-fx-cloor-tf-fg;
}

 .utl-text-field{
	-fx-border-color: -fx-color-tf-dark -fx-cloor-tf-right -fx-cloor-tf-right -fx-color-tf-dark;
}

.utl-text-field:error,
.utl-table-row .utl-table-cell .utl-text-field:error{
	-fx-background-color:-fx-color-error-bg;
	-fx-text-fill:-fx-color-error-fg;
	-fx-border-color: -fx-color-error-right -fx-color-error-dark -fx-color-error-dark -fx-color-error-right;
}

.utl-text-field:focused,
.utl-table-row .utl-table-cell .utl-text-field:focused{
	-fx-background-color:-fx-color-tf-edit-bg;
	-fx-text-fill:-fx-color-tf-edit-fg
}

.table{
	-fx-background-color:-fx-color-table-bg;
}

.utl-table-row{
	-fx-pref-height: 20.0px;
}

.utl-table-cell{
	-fx-pref-height: 20.0px;
}

.utl-table-row .utl-table-cell .utl-text-field,
.utl-table-row .utl-table-cell .check-box,
.utl-table-row .utl-table-cell .utl-choice-box{
	-fx-pref-height: 25.0px;
	-fx-background-radius: 0.0px;
	-fx-background-color:-fx-color-table-bg;
	-fx-text-fill:-fx-color-table-fg;
	-fx-border-color: -fx-color-table-right -fx-color-table-dark -fx-color-table-dark -fx-color-table-right;
}

.utl-table-row:expanted .expanted-icon .utl-text-field{
	-fx-background-color:#1e50a2;
}

.utl-table-row:limit .taskmgr-sts .utl-text-field{
	-fx-background-color:#c9171e;
}
.utl-table-row:day-before .taskmgr-sts .utl-text-field{
	-fx-background-color:#d7cf3a;
}
.utl-table-row:during .taskmgr-sts .utl-text-field{
	-fx-background-color:#eaedf7;
}
.utl-table-row:rv .taskmgr-sts .utl-text-field{
	-fx-background-color:#38b48b;
}
.utl-table-row:complete .taskmgr-sts .utl-text-field{
	-fx-background-color:#2ca9e1;
}
.utl-table-row:hold .taskmgr-sts .utl-text-field{
	-fx-background-color:#7a4171;
}
.utl-table-row:un .taskmgr-sts .utl-text-field{
	-fx-background-color:#474a4d;
}

.utl-table-row .utl-table-cell .context-menu{
	-fx-background-color:-fx-color-table-bg;
	-fx-border-color: -fx-color-table-right -fx-color-table-dark -fx-color-table-dark -fx-color-table-right;
}

.utl-table-row .utl-table-cell .check-box .box{
	-fx-background-color:#ffffff;
	-fx-pref-height: 16.0px;
	-fx-pref-width: 16.0px;
}

.button{
	-fx-background-radius: 0.0px;
	-fx-background-color:-fx-color-bt-bg;
	-fx-text-fill:-fx-color-bt-fg;
	-fx-border-color: -fx-color-bt-right -fx-color-bt-dark -fx-color-bt-dark -fx-color-bt-right;
}

.button:pressed{
	-fx-border-color: -fx-color-bt-dark -fx-color-bt-right -fx-color-bt-right -fx-color-bt-dark;
}

